:root{
    --background:#1f2335 ;
    --primary-color:#292e42 ;
    --secondary-color:#414868 ;
    --accent-color:#4fd6be;
    --text-color:#c0caf5 ;
}

*{
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16pt;
    color: var(--text-color);
}

body{
    min-height: 100vh;
    padding:10px;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    color: var(--accent-color);
}

.wrapper{
    width: 700px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#todo-input{
    box-sizing: border-box;
    padding: 12px 20px;
    width: 100%;
    background: none;
    border: 2px solid var(--secondary-color);
    border-radius: 1000px;
    color: var(--text-color);
    caret-color: var(--accent-color) ;
}

#todo-input:focus{
    outline: none;
}

form{
    position: relative;
}
#add-button{
    position: absolute;
    top: 0;
    right: 0;

    background-color: var(--accent-color);
    height: 100%;
    width: 15%;
    padding-block-start: 0xp 30px;
    border: none;
    border-radius: 1000px;
    font: inherit;
    font-weight: 600;
    color: var(--background);
    cursor: pointer;
}

.todo{
    margin-bottom: 10px;
    padding: 0 16px;
    background-color: var(--primary-color);
    border-radius: 15px;
    display: flex;
    align-items: center
}

.todo .todo-text{
    padding: 15px;
    padding-right: 0;
    flex-grow: 1;
    transition: 200ms ease;
}

.dlt-button{
    padding: 3px;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.dlt-button svg{
    transition: 200ms;
}
.dlt-button:hover svg{
    fill: #ff0033;
}

#custom-checkbox{
    border: 2px solid var(--accent-color);
    border-radius: 50%;
    min-height: 20px;
    min-width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: 200ms ease; 
    cursor: pointer;
}

input[type="checkbox"]:checked ~ #custom-checkbox{
    background-color: var(--accent-color);
}
input[type="checkbox"]:checked ~ #custom-chekcbox{
    fill: var(--primary-color)
}
input[type="checkbox"]:checked ~ .todo-text{
    text-decoration: line-through;
}
input[type="checkbox"]:checked ~ .todo-text{
    text-decoration: line-through;
}
input[type="checkbox"]{
    display: none ;
}

@media(max-width: 500px){
    html{
        font-size: 12pt;
    }
    #add-button{
        position:unset;
        width:100%;
        margin-top:10px;
        padding: 15px;
        height: auto;
    }
    h1{
        margin-top: 50px;
        font-size: 15vw;
    }
}
