:root {
  --background: #1e1e2e;
  --primary-color: #11111b;
  --secondary-color: #6c7086;
  --accent-color: #94e2d5;
  --text-color: #cdd6f4;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Press Start 2P", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  min-height: 100vh;
  padding: 10px;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 100px;
  margin-bottom: 20px;
  font-size: 3rem;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  color: var(--accent-color);
}

.wrapper {
  width: 700px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* Date form */

.date-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date-input {
  box-sizing: border-box;
  padding: 10px 10px;
  background: var(--primary-color);
  color: var(--text-color);
  font-family: "Press Start 2P", serif;
  text-align: center;
  caret-color: var(--accent-color);
  border: 4px solid var(--secondary-color);
  margin-bottom: 10px;
}

.date-input:focus {
  outline: none;
}

.create-table {
  background-color: var(--primary-color);
  border: 2px solid var(--secondary-color);
  transform: scale(1.2);
  box-sizing: border-box;
  cursor: pointer;
}

.create-table:hover svg {
  fill: var(--text-color);
}

.create-table svg {
  transition: 200ms;
}

/* Todo Table */

h4 {
  color: var(--secondary-color);
  text-decoration: underline;
}

.todo-table {
  border: 4px solid var(--secondary-color);
  background-color: var(--primary-color);
  padding: 30px;
}

.list-section {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  padding: 15px 0px;
}

.todo-form {
  display: flex;
  margin-bottom: 20px;
}

.todo-input {
  box-sizing: border-box;
  padding: 12px 20px;
  width: 100%;
  background: none;
  border: 2px solid var(--secondary-color);
  color: var(--text-color);
  caret-color: var(--accent-color);
}

.todo-input:focus {
  outline: none;
}
.add-button {
  background: none;
  border: none;
  padding: 10px;
}

.add-button svg {
  transition: 200ms;
}
.add-button:hover svg {
  fill: var(--text-color);
}

.todo {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.todo .todo-text {
  padding: 15px;
  flex-grow: 1;
  transition: 200ms ease;
}

.dlt-button {
  padding: 3px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dlt-button svg {
  transition: 200ms;
}
.dlt-button:hover svg {
  fill: #f38ba8;
}

.custom-checkbox {
  border: 2px solid var(--accent-color);
  border-radius: 50%;
  min-height: 20px;
  min-width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  transition: 200ms ease;
  cursor: pointer;
}

input[type="checkbox"]:checked ~ .custom-checkbox {
  background-color: var(--accent-color);
}

input[type="checkbox"]:checked ~ .custom-chekcbox {
  fill: var(--text-color);
}

input[type="checkbox"]:checked ~ .todo-text {
  text-decoration: line-through;
  color: var(--secondary-color);
}

input[type="checkbox"] {
  display: none;
}
